{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
    <div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">
        <h1>Answer index</h1>

        <table class="edit-table w-full mb-6">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Content</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.id }}</td>
                    <td>{{ answer.content }}</td>
                    <td class="flex">
                        <a class="md-btn" href="{{ path('answer_show', {'id': answer.id}) }}">show</a>
                        <a class="md-btn" href="{{ path('answer_edit', {'id': answer.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="md-btn" href="{{ path('answer_new') }}">Create new</a>
    </div>
{% endblock %}
