{{ form_start(formquestion) }}
    <div class="w-full flex flex-col items-center my-5">
        <div class="md-input mb-5">
            {{ form_widget(formquestion.title) }}
            {{ form_label(formquestion.title) }}
        </div>
        <div class="md-input mb-5">
            {{ form_widget(formquestion.content) }}
            {{ form_label(formquestion.content) }}
        </div>
        <div class="md-input mb-5">
            {{ form_widget(formquestion.upload_file) }}
            {{ form_label(formquestion.upload_file) }}
        </div>
        <div class="md-input mb-5">
            {{ form_widget(formquestion.goodanswer) }}
            {{ form_label(formquestion.goodanswer) }}
        </div>
        <div class="md-checkboxes mb-5">
            {{ form_widget(formquestion.answers) }}
        </div>

        <button class="md-btn">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(formquestion) }}
