
<div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 mt-5 text-white relative">
    <img class="rounded-lg mb-5" width="300" src="{{playeranswer.question.mediaurl}}" alt="Card image cap">
    <div class="answer-msg">
        {{ playeranswer.status == "yes" ? "Trop fort(e) !" : "ah bah non c'est pas ça ! "  }}
        <div class="answer-msg-smiley">
            {{ playeranswer.status == "yes" ? "&#128513;" : "&#128529;" }}
        </div>
    </div>

    <h5 class="text-lg mb-3">{{playeranswer.question.content}}</h5>
    <div class="mb-6 w-full" style="max-width: 300px;">
        {% for answer in playeranswer.question.answers %}
            <div type="button" class="py-2 px-4 my-2 border border-gray-100 font-semibold rounded-lg shadow-md focus:outline-none
                flex justify-between {{ answer == playeranswer.pickedanswer ? "bg-gray-100 text-black" : "text-white" }}" tabindex="-1">
                {% if playeranswer.question.goodanswer.id == answer.id %}
                    <span class="mr-4">&#10004;</span>
                {% else %}
                    <span class="mr-4">&#10060;</span>
                {% endif %}
                <span class="flex-1">{{answer.content}}</span>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path("quizz_nextquestion", { id: playeranswer.quizz.id }) }}" class="md-btn" tabindex="-1">
        Question suivante
    </a>
</div>