{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1 class="my-2">Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Intitulé</th>
                <th>Propositions / Réponse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>[{{ question.id }}] Figure {{question.title}}</td>
                <td>{{ question.content}} </td>
                <td>
                    {% for answer in question.answers %}
                       <span class="badge badge-pill {% if answer.correct %}badge-success{% else %}badge-secondary{% endif %} p-2">{{ answer.content }}</span> 
                    {% endfor %}
                </td>
                <td>                    
                    <a class="btn btn-outline-primary" href="{{ path('question_show', {'id': question.id}) }}">show</a>
                    <a class="btn btn-outline-primary" href="{{ path('question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_new') }}">Create new</a>
{% endblock %}
