<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    <!-- FontAwsome-->
    <script src="https://kit.fontawesome.com/8ea8f44ca5.js" crossorigin="anonymous"></script>

    {% block stylesheets %}

    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
  </head>
  <body>
    <div class="container mx-auto">
      <div class="flex align-center justify-between mt-5 p-3 text-white rounded-lg">
        {% if is_granted('ROLE_ADMIN') %} Vous êtes connecté en tant que {{ app.user.username }} {% endif %}
      </div>
      <nav class="flex flex-col lg:flex-row align-center justify-between mb-5 p-3 text-white rounded-lg">
        <div class="head">
          <a class="text-xl rounded-lg" href="{{path('home')}}">Pole Dance Quizz</a>
          <div class="collapse-btn lg:hidden">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>

        <div class="collapse flex flex-col lg:flex-row align-center justify-between flex-1">
          <div class="flex flex-col lg:flex-row align-center">
            <a class="rounded-lg" href="{{path('quizz')}}">Take the quizz</a>
            <a class="rounded-lg" href="{{path('quizz_history')}}">Voir le classement</a>
          </div>
          <div class="flex flex-col lg:flex-row align-center">
            {% if app.user %}
              {% if is_granted('ROLE_ADMIN') %}
                <a class="rounded-lg" href="{{path('answer_index')}}">Answer Index</a>
                <a class="rounded-lg" href="{{path('question_index')}}">Question Index</a>
              {% endif %}
              <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
              <a class="rounded-lg" href="{{path('app_login')}}">Se connecter</a>
            {% endif %}
          </div>
        </div>

      </nav>

        <div class="w-full">
            {% block body %}
            {% endblock %}
        </div>

        {% block footer %}{{ include('layouts/footer.html.twig') }}{% endblock %}
    </div>

    <script src="{{ asset('assets/js/app.js') }}"></script>
    {% block javascripts %}

    {% endblock %}
  </body>
</html>
