<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% block stylesheets %}
          
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
  </head>
  <body>
    <div class="container mx-auto">
      <nav class="flex align-center justify-between my-5 p-3 text-white rounded-lg">
        <div class="flex align-center">
          <a class="text-xl rounded-lg" href="{{path('home')}}">Pole Dance Quizz</a>
          <a class="rounded-lg" href="{{path('quizz')}}">Take the quizz</a>
        </div>
        <div class="flex align-center">
          <a class="rounded-lg" href="{{path('answer_index')}}">Answer Index</a>
          <a class="rounded-lg" href="{{path('question_index')}}">Question Index</a>
        </div>
      </nav>

      <div class="w-full">
       {% block body %}{% endblock %}
      </div>
    </div>

    <script src="{{ asset('assets/js/app.js') }}"></script>
    {% block javascripts %}

    {% endblock %}
  </body>
</html>