<div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">
    <h2 class="text-xl font-bold"> {{quizz.playername | upper}} </h2>
    <h2>Question  {{ quizz.playeranswers|length }}/{{questions|length}} </h2>
    
    {# Hystorique answered question breadcrump #}
    {# <div class="hidden flex justify-center flex-wrap w-full">
        {% set total = 0 %}
        {% set current = true %}
        {% for i in 0..questions|length-1 %}
            <div class="m-1 border rounded-full px-2
        {% if quizz.playeranswers|length >= i+1 %}
            {% if quizz.playeranswers[i].status == "yes" %}
                {% set total = total + 1 %}
                border-green-400 text-green-400
            {% else %}
                border-red-400 text-red-400
            {% endif %}
        {% else %}
            {% if current %}
                border-white text-white
            {% else %}
                border-gray-400 text-gray-400
            {% endif %}
            {% set current = false %}
        {% endif %}

        "> {{ i+1 }}
            </div>
        {% endfor %}
    </div> #}

    <h2 class="text-2xl">{{quizz.score}} <span class="text-lg">points</span></h2>
</div>
