{% extends 'base.html.twig' %}

{% block title %}Quizz history {% if playername is defined %}of {{ playername }}{% endif %}{% endblock %}

{% block body %}
<div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">
    <h1 class="my-2">Quizz history {% if playername is defined %}of {{ playername }}{% endif %}</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="md-input mb-5" style="width: 32em;">
        {{ form_label(form.playername, 'Playername')}}
        {{ form_widget(form.playername, {'attr': {'class': 'form-control'}}) }}
    </div>
    {{ form_label(form.submit, 'Chercher Player History') }}
    {{ form_widget(form.submit, {'attr': {'class': 'md-btn'}}) }}
    {{ form_end(form) }}

    <table class="edit-table w-full mb-6">
        <thead>
            <tr>
                <th>ID</th>
                <th>Playername</th>
                <th>Score</th>
                <th>Résultat</th>
                <th>Date passage</th>
            </tr>
        </thead>
        <tbody>
        {% for quizz in quizzs %}
            <tr>
                <td>{{ quizz.id }}</td>
                <td>{{ quizz.playername}} </td>
                <td>{{quizz.score}} / {{quizz.playeranswers|length }}</td>
                <td>
                    {% if quizz.score == quizz.playeranswers|length %}
                        <span class="m-1 border rounded-full px-2 border-yellow-400 text-yellow-400">Perfect</span>
                    {# Conditions de succès modulable #}
                    {% elseif quizz.score >= ((quizz.playeranswers|length)/2) %}
                        <span class="m-1 border rounded-full px-2 border-green-400 text-green-400">Success</span>
                    {% else %}
                        <span class="m-1 border rounded-full px-2 border-red-400 text-red-400">Failure</span>
                    {% endif %}
                </td>
                <td>{% if quizz.date is not null %} {{ quizz.date|date("d/m/Y") }} {% else %} --- {% endif %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
