{% extends 'base.html.twig' %}

{% block title %}Quizz history {% if playername is defined %}of {{ playername }}{% endif %}{% endblock %}

{% block body %}
<div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">
    <h1 class="my-2">Quizz history {% if playername is defined %}of {{ playername }}{% endif %}</h1>

    <table class="edit-table w-full mb-6">
        <thead>
            <tr>
                <th>ID</th>
                <th>Playername</th>
                <th>Score</th>
                <th>Date passage</th>
            </tr>
        </thead>
        <tbody>
        {% for quizz in quizzs %}
            <tr>
                <td>{{ quizz.id }}</td>
                <td>{{ quizz.playername}} </td>
                <td>{{quizz.score}} / {{quizz.playeranswers|length }}</td>
                <td>---</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
