{% extends 'base.html.twig' %}

{% block title %}Quizz Pole Dance{% endblock %}

{% block stylesheets %}
<style>
    .dot {
        border:20px;
        width:20px;
        height:20px;
        border-radius:20px;
        margin:5px;
        display:inline-block;
    }
    .dotRight {
        background:green; 
    }   
    .dotWrong {
        background:red; 
    }
</style>
{% endblock %}
   
{% block body %}

<div class="row">
    <div class="col-12">
       <div class="alert alert-light" role="alert">
       <h2> {{quizz.playername | upper}} </h2>
        <h2>Question  {{quizz.playeranswers|length }}/{{questions|length}} </h2>
        {% for playeranswer in quizz.playeranswers %}
            <div class="dot {% if playeranswer.status == "yes" %} dotRight {% else %} dotWrong {% endif %}"></div>
        {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-4">
       {% for question in questions2ask %}
                <div class="card mb-4">
                    <form method="post" action="{{ path("validate_answer", { 'id': quizz.id }) }}">
                        <img class="card-img-top" src="{{question.mediaurl}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{question.content}}</h5>
                            <p class="card-text">
                                {# TODO: passer par symfony de ce form #}
                                <input type="hidden" name="questionid" value="{{question.id}}" />        
                                {% for answer in question.answers %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="answerId" id="answer{{question.id}}{{answer.id}}" value="{{answer.id}}">
                                        <label class="form-check-label" for="answer{{question.id}}{{answer.id}}">
                                            {{answer.content}}
                                        </label>
                                    </div>
                                {% endfor %}
                            </p>
                        </div>
                        <input type="submit" value="suivante" class="btn btn-primary" />
                    </form>
                </div>
        {% endfor %}    
    </div>
</div>
{% endblock %}
