{% extends 'base.html.twig' %}

{% block title %}Quizz Pole Dance{% endblock %}

{% block body %}
    <div class="flex items-center flex-col w-full rounded-lg bg-darkTransparent p-5 text-white">
    <img style="width:250px;" class="rounded-full my-3" src="{{ asset("img/logo.jpg")}}" alt="logo quizz pole dance" />
    
     <h1 class="text-lg my-4">Bienvenu.e!</h1>
      <p class="text-center">
        À tous les fans (ou pas) de Pole Dance<br />
        testez vos connaissances des figures 
        de ce sport/art mixant danse et accrobaties avec ce quizz en ligne ! <br />
        Amusez vous ! 
      </p>
      
    
    
        {{ form_start(form) }}
            <div class="w-full flex flex-col items-center mt-5">
            <div class="md-input mb-5">
                {{ form_widget(form.playername) }}
                {{ form_label(form.playername) }}
            </div>
            {{ form_widget(form.start, {'attr': {'class':'md-btn'}}) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
